
/* все с классом биг ред */
.bigred{
    font-size: 25px;
    color: yellow;
}

/* все биг ред внутри спана */
span.bigred{    
    font-size: 10px;
    color: red;
}


/* только внутри определеного тега классы спан */
.green span {
    color: green;
}

/* обращение к первому уровню. тольк п на 1 уровне станут голубые */
.block>p{
    color: blue;
    border: 1px solid #000;
}

/* наследование параметров бордэр - граница*/

